arrow
cmake
contourpy
cycler
Cython
fonttools
igraph
kiwisolver
matplotlib
matplotlib-inline
networkx
numpy
packaging
pandas
pickleshare
Pillow
pip
pyarrow
pyparsing
python-dateutil
pytz
scipy
setuptools
six
texttable
traitlets
types-python-dateutil
tzdata
wheel
